{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<form action="/" method="POST">
            <li>Adult Mortality</li>
            <input type="text" name="c1" id="c1">
            <br></br>
            <li>infant deaths</li>
            <input type="text" name="c2" id="c2">
            <br></br>
            <li>Alcohol</li>
            <input type="text" name="c3" id="c3">
            <br></br>
            <li>percentage expenditure</li>
            <input type="text" name="c4" id="c4">
            <br></br>
            <li>Hepatitis B</li>
            <input type="text" name="c5" id="c5">
            <br></br>
            <li>Measles</li>
            <input type="text" name="c6" id="c6">
            <br></br>
            <li>BMI</li>
            <input type="text" name="c7" id="c7">
            <br></br>
            <li>under-five deaths</li>
            <input type="text" name="c8" id="c8">
            <br></br>
            <li>Polio</li>
            <input type="text" name="c9" id="c9">
            <br></br>
            <li>Total expenditure</li>
            <input type="text" name="c10" id="c10">
            <br></br>
            <li>Diphtheria</li>
            <input type="text" name="c11" id="c11">
            <br></br>
            <li>HIV/AIDS</li>
            <input type="text" name="c12" id="c12">
            <br></br>
            <li>GDP</li>
            <input type="text" name="c13" id="c13">
            <br></br>
            <li>Population</li>
            <input type="text" name="c14" id="c14">
            <br></br>
            <li>thinness  1-19 years</li>
            <input type="text" name="c15" id="c15">
            <br></br>
            <li>thinness 5-9 years</li>
            <input type="text" name="c16" id="c16">
            <br></br>
            <li>Income composition of resources</li>
            <input type="text" name="c17" id="c17">
            <br></br>
            <li>Schooling</li>
            <input type="text" name="c18" id="c18">
            <br></br>
            
            <input type="submit" value="submit">
        </form>

{% endblock %}